.bg_background {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #b6d7a8, rgba(255, 255, 255, 0)), #ffffff;
}

.bg_custom_green {
    /* background: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #d1e7dd); */
    background-color: rgb(182, 215, 168);
}

.bg_custom_orange{
    background-color: rgb(249, 203, 156);
}

.text-orange{
    color: #e8943c
}

.bg_background_fot {
    background-color: rgb(48, 43, 34);
}

.nav-item .nav-link {
    border-width: 2px;
}

.instagram:hover { color: rgb(	208, 0, 208) !important; }

.facebook:hover { color: rgb(0, 0, 255) !important; }

.youtube:hover { color: rgb(255, 0, 0) !important; }

.container-lg ul {
    margin: 0 !important;
    padding: 0 !important;
  }